body{
  background-image: url("fondo.jpg");
  font-family:sans-serif;
  color:indigo;
  font-size: 50px;
  letter-spacing: 1px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items:flex-end;
}
